# Lab Exercises

## Processing Data with Python, Part 2

---

Getting the hard part out of the way, let's import `pandas` and get our data set up.

In [1]:
import pandas as pd

chip = pd.read_csv("chipotle.tsv", sep="\t")
chip.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

---

#### **Exercise 1**

Display a random 10 rows from this Dataframe.

In [2]:
chip.sample(10)

,order_id,quantity,item_name,choice_description,item_price
1524,621,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
45,21,1,Chicken Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",10.98
4494,1787,1,Canned Soft Drink,[Lemonade],1.25
85,38,1,Veggie Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Pinto Beans...",8.49
2227,898,1,Steak Crispy Tacos,"[Tomatillo Red Chili Salsa, [Rice, Pinto Beans...",9.25
3470,1395,1,Veggie Burrito,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49
2028,817,1,Veggie Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
2015,813,1,Bottled Water,NaN,1.50
44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75
2175,878,1,Chips and Guacamole,NaN,4.45

#### **Exercise 2**

Calculate the average item price "the hard way," by summing the values in the column and dividing. Just like you did in math class. (Sorry.)

In [3]:
total = chip['item_price'].sum()
totalEntries = chip['item_price'].value_counts()
average = float(total / 4622)
print(average)

7.464335785374297

#### **Exercise 3**

Now, calculate the mean again, using a pandas function. This is the easy way to do the above.

In [4]:
chip['item_price'].mean()

7.464335785374297

#### **Exercise 4**

How many unique items have people ordered? What I mean by this is how many different things are there recorded for "item names," not how many orders there are in total.

List the items and how many there are. (Hint: The functions for doing those two things differ only by one letter.)

In [5]:
unique = len(chip['item_name'].unique())
print(unique, 'unique items')
chip['item_name'].value_counts()

50 unique items

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Carnitas Salad Bowl                        6
Veggie Salad                               6
Burrito                                    6
Steak Salad                                4
Bowl                                       2
Crispy Tacos                               2
Salad                                      2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: item_name, dtype: int64

#### **Exercise 5**
Using a query mask, create a new dataframe of just the times where more than one item was ordered. In other words, if `quantity > 1`, keep the row. If not, drop the row. 

Then, print the first ten items in the new DataFrame.

In [6]:
order_data = pd.read_csv('chipotle.tsv', sep='\t')
query_mask = order_data['quantity'] > 1
    
query_mask.head(10)

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
8    False
9    False
Name: quantity, dtype: bool

#### **Exercise 6**

Using a query mask and [Pandas string methods](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#string-handling), create a new dataframe of just the times people ordered chips. Print the first five such times.

In [10]:
chips = chip['item_name'].str.slice(stop=5)
query_mask = chips == 'Chips'
chiply = chip[query_mask]
chiply.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
10,5,1,Chips and Guacamole,NaN,4.45
14,7,1,Chips and Guacamole,NaN,4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39

#### **Exercise 7**

What's the average item price of our "chips and something" subset?

In [9]:
chiply['item_price'].mean()

3.6515564598168875

#### **Exercise 8**

In this last exercise, you'll be doing our job for us. Check out the [WPRDC website](https://data.wprdc.org/dataset). Spend a few minutes looking through the available datasets, and pick one that you think is cool.

Fill out the following information about it:

**name of the dataset**:

link:

Who/what submitted this data to the WPRDC?

What information do I need to interpret this data? Is there a data dictionary? Is there any important information about the dataset missing?

Why is this data of use to people in Pittsburgh? Could it be useful to anyone else: activists, politicians, researchers, companies? 

Can you think of any questions you want to ask of this dataset?

Is this a good dataset, in your opinion?

1. City of Pittsburgh

2. You don't need anything to interpret the data. The data dictionary made it seem to be diverse. Also the data is presented clearly. In my opinion there wasn't anything missing it seemed fine.

3. This data is useful for people in Pittsburgh because concern with diversity and seeing where your race is low in certain industries has become an increasing concern. It can be useful to researchers who want to study the demographics of certain industries.

4. I would ask how they measured and actually acquired their data, moreover where is the origin of the data from.

5. I think the dataset is good because there is an interest with it that can be beneficial for industries.